main {
    background-color: #F0F9F1;

    display: flexbox;
    justify-content: space-around;
}

.leftButton {
    margin-right: auto;
    margin-left: 15px;
    margin-top: 15px;
}

.rightButton {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
}

.topLayer {
    display: flex;
}

.text {
    color: #9BA3AC;
}

.progressBarWrapper {
    background-color: #FFE2CC;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
}

.progressBarMain {
    background-color: #FF9C55;
    border-radius: 30px;
}