main {
    background-color: #F0F9F1;

    display: flexbox;
    justify-content: space-around;
}

.topLayer {
    display: flex;
    justify-content: space-evenly;
}

.text {
    color: #9BA3AC;
}

.progressBar{
    /* background-color:blueviolet; */
}