<<<<<<< Updated upstream:frontend/src/components/DriverSummary/DriverSummary.css
.all-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
}

.punchOutHeader{
    width: 166px;
    height: 48px;
    position: absolute;
    margin-top: 50px;


    font: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    white-space: nowrap;

    color: #9BA3AC;
}

.backButton{    
    margin-left: 344px;
    position: absolute;
    margin-top: 50px;

}

.goodbyeMessage {
    font: 'Poppins';
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #176C3E;

    width: 357px;
    height: 96px;
    left: 435px;
    top: 154px;
    position: absolute;
}

.summary{
    position: absolute;
    width: 600px;
    height: 78px;
    left: 503px;
    top: 306px;

    font: 'Poppins';
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;

    display: flex;
    align-items: center;


    color: #176C3E;
}

.weight-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;

    position: absolute;
    width: 200px;
    height: 100px;
    left: 503px;
    top: 440px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.weight{
    width: 83px;
    height: 0px;

    font: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    position: relative;

    color: #000000;
}

.units{
    width: 43px;
    height: 44px;
    margin-left: 10px;

    font: 'Open Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    position: relative;

    color: #000000;
}

.droppedOff{
    position: absolute;
    width: 239px;
    height: 54px;
    left: 743px;
    top: 463px;

    font: 'Open Sans';
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    white-space: nowrap;

    color: #000000;
}

.discrepancy{
    position: absolute;
    width: 227px;
    height: 48px;
    left: 435px;
    top: 597px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;

    color: #555555;

}

.discrepancy-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    position: absolute;
    width: 620px;
    height: 218px;
    top: 70px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #555555;
}


.signOutButton {
    font:'Open Sans';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    white-space: nowrap;

    background: #FF9C55;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 290px;
    height: 84px;
    /* left: 272px; */
    top: 977px;

    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

=======
.all-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
}

.punchOutHeader{
    width: 166px;
    height: 48px;
    position: absolute;
    margin-top: 50px;
    justify-content: center;

    font: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    white-space: nowrap;

    color: #9BA3AC;
}

.backButton{    
    position: relative;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}

.goodbyeMessage {
    font: 'Poppins';
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #176C3E;

    width: 357px;
    height: 96px;
    left: 435px;
    top: 154px;
    position: absolute;
}

.summary{
    position: absolute;
    width: 600px;
    height: 78px;
    left: 503px;
    top: 306px;

    font: 'Poppins';
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;

    display: flex;
    align-items: center;


    color: #176C3E;
}

.weight-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;

    position: absolute;
    width: 200px;
    height: 100px;
    left: 503px;
    top: 440px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.weight{
    width: 83px;
    height: 0px;

    font: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    position: relative;

    color: #000000;
}

.units{
    width: 43px;
    height: 44px;
    margin-left: 10px;

    font: 'Open Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    position: relative;

    color: #000000;
}

.droppedOff{
    position: absolute;
    width: 239px;
    height: 54px;
    left: 743px;
    top: 463px;

    font: 'Open Sans';
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    white-space: nowrap;

    color: #000000;
}

.discrepancy{
    position: absolute;
    width: 227px;
    height: 48px;
    left: 435px;
    top: 597px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;

    color: #555555;

}

.discrepancy-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    position: absolute;
    width: 620px;
    height: 218px;
    top: 665px;
    left: 435px;


    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #555555;
}


.signOutButton {
    font:'Open Sans';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    white-space: nowrap;

    background: #FF9C55;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 290px;
    height: 84px;
    /* left: 272px; */
    top: 977px;

    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

>>>>>>> Stashed changes:frontend/src/components/driverSummary/DriverSummary.css
