* {
    background-color: #F0F9F1;
}

.filter-parent{
    display: flex;
    align-items:center;
    justify-content: center;
}

.filter-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;

    position: static;
    width: 620px;
    height: 90px;
    left: 0px;
    top: 68px;

    /* PrimaryWhite */

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.filter-form > * {
    background-color: #FFFFFF;

    width: 100%;
    height: 100%;

    font-size: 32px;
}

.locationParent{
    /* background-color: rebeccapurple; */
    /* PLASE CENTER OMggGGGGG */
}

.locationItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;

    position: static;
    width: 620px;
    height: 90px;
    left: 0px;
    top: 68px;

    /* PrimaryWhite */

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.locationItem > * {
    background-color: #FFFFFF;

    width: 100%;
    height: 100%;

    font-size: 32px;

    cursor:pointer;
}

.text-primary-locationForm{
    position: static;
    width: 202px;
    height: 48px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    /* Text Grey */

    color: #555555;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}


.location-name-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;

    position: static;
    width: 620px;
    height: 90px;
    left: 0px;
    top: 68px;

    /* PrimaryWhite */

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    background-color: #FFFFFF;
    font-size: 32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.food-type{
    position: static;
    width: 165px;
    height: 48px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    /* Text Grey */

    color: #555555;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.select-parent >* {
    padding: 10px;
    font-size: 32;
}

.specify-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;
    
    /* PrimaryWhite */
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
}

.continue_button {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 60px;

/* position: absolute;
width: 303px;
height: 84px;
left: 266px;
top: 920px; */

/* Primary Orange */

background: #FF9C55;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}